{% extends "base.html" %}

{% block title %}
HackerRank Evaluations - Admin - Configs
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3 mb-3">
            <div class="col-12">
                <h3>Look Up Config</h3>
                <div>
                    <div class="btn-group">
                        <button id="config-key-dropdown-button" class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div id="config-key-dropdown" class="dropdown-menu">
                            <input class="form-control" id="config-key-dropdown-input" type="text" placeholder="Search..">
                            {% for key, value in appconfigs_keys.items() %}
                                <a class="dropdown-item" href="#" data-key="{{key}}">{{value}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="mt-3">
                        <button id="config-key-dropdown-lookup-button" class="btn btn-primary" type="button">
                            Look up config
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <h3>Update Configs</h3>
                <form action="/admin/configs" method="POST">
                    <div class="form-group">
                        <label for="config-key-to-update">Key</label>
                        <input type="text" class="form-control" id="config-key-to-update" name="config-key" readonly placeholder="Look up the key you want to update first" />
                    </div>
                    <div class="form-group">
                        <label for="config-value-to-update">Value</label>
                        <input type="text" class="form-control" id="config-value-to-update"  name="config-value" />
                    </div>
                    <button id="update-config-submit-button" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block after_body %}
    <script>
    // dom elements
    const configKeyDropdownMenu = document.getElementById('config-key-dropdown');
    const configKeyDropdownButton = document.getElementById('config-key-dropdown-button');
    const configKeyDropdownInput = document.getElementById('config-key-dropdown-input');
    const configKeyLookupButton = document.getElementById('config-key-dropdown-lookup-button');

    const configKeyToUpdateInput = document.getElementById('config-key-to-update');
    const configValueToUpdateInput = document.getElementById('config-value-to-update');

    // state variables
    let currentConfigKey = null;

    // set search on dropfown
    configKeyDropdownInput.addEventListener('keyup', () => {
        const filter = configKeyDropdownInput.value.toLowerCase();
        Array.from(configKeyDropdownMenu.getElementsByTagName('a')).forEach(e => {
            if (e.innerText.toLowerCase().includes(filter)) {
                e.style.display = 'block';
            } else {
                e.style.display = 'none';
            }
        });
    });

    // handle selecting a config
    const updateConfigKeyValue = (key, value) => {
        if (value == null) {
            configKeyDropdownButton.innerText = "Select a key"
        } else {
            currentConfigKey = key;
            configKeyDropdownButton.innerText = value;
        }
    };
    configKeyDropdownMenu.addEventListener("click", (e) => {
        if (e.target && e.target.matches('a.dropdown-item')) {
            updateConfigKeyValue(e.target.dataset.key, e.target.innerText);
        }
    });
    updateConfigKeyValue();

    // handle lookup config
    const lookupConfig = (key) => {
        fetch(`/admin/configs/${key}`).then(res => {
            if (res.status !== 200) {
                console.log('Looks like there was a problem. Status Code: ' + res.status);
                alert('Unable to fetch config');
                return;
              }

              res.json().then((data) => {
                configKeyToUpdateInput.value = data.key;
                configValueToUpdateInput.value = data.value;
              });
        }).catch(err => {
            console.log('Fetch Error :-S', err);
            alert('Unable to fetch config');
        });
    };

    configKeyLookupButton.addEventListener("click", () => {
        if (currentConfigKey == null) {
            alert('Please select a config key');
            return;
        }

        lookupConfig(currentConfigKey);
    });
    </script>
{% endblock %}
