{% extends "base.html" %}

{% block title %}
HackerRank Evaluations - Admin - Configs
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3 mb-3">
            <div class="col-12">
                <h3>Tests</h3>
                <div>
                    <div class="btn-group">
                        <button id="tests-dropdown-button" class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div id="tests-dropdown" class="dropdown-menu">
                            <input class="form-control" id="tests-dropdown-input" type="text" placeholder="Search..">
                            {% for test_id, test in tests.items() %}
                                <a class="dropdown-item" href="#" data-key="{{test_id}}">{{test['name']}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="mt-3">
                        <div>
                            Name: <span id="display-test-name"></span>
                        </div>
                        <div>
                            Test ID: <span id="display-test-id"></span>
                        </div>
                        <div>
                            Question ID: <span id="display-test-question-id"></span>
                        </div>
                        <div class="mt-3">
                            <button id="test-delete-button" class="btn btn-danger" type="button">
                                Delete Test
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <h3>Add Test</h3>
                <form action="/admin/tests" method="POST">
                    <div class="form-group">
                        <label for="test-name">Test name</label>
                        <input type="text" class="form-control" id="test-name" name="test-name" placeholder="Test name" />
                    </div>
                    <div class="form-group">
                        <label for="test-id">Test ID</label>
                        <input type="text" class="form-control" id="test-id"  name="test-id" placeholder="Test ID"/>
                    </div>
                    <div class="form-group">
                        <label for="test-question-id">Test Question ID</label>
                        <input type="text" class="form-control" id="test-question-id"  name="test-question-id" placeholder="Test Question ID" />
                    </div>
                    <button id="add-new-test" type="submit" class="btn btn-primary">Add Test</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block after_body %}
    <script>
    const tests = {{ tests|tojson|safe }};

    // dom elements
    const testsDropdownMenu = document.getElementById('tests-dropdown');
    const testsDropdownButton = document.getElementById('tests-dropdown-button');
    const testsDropdownInput = document.getElementById('tests-dropdown-input');

    const addTestButton = document.getElementById('add-new-test');
    const deleteTestButton = document.getElementById('test-delete-button');

    const testNameDisplay = document.getElementById('display-test-name');
    const testIdDisplay = document.getElementById('display-test-id');
    const testQuestionIdDisplay = document.getElementById('display-test-question-id');

    // state variables
    let currentTestId = null;
    let currentTest = null;

    // set search on dropfown
    testsDropdownInput.addEventListener('keyup', () => {
        const filter = testsDropdownInput.value.toLowerCase();
        Array.from(testsDropdownMenu.getElementsByTagName('a')).forEach(e => {
            if (e.innerText.toLowerCase().includes(filter)) {
                e.style.display = 'block';
            } else {
                e.style.display = 'none';
            }
        });
    });

    // handle selecting a config
    const updateTestValue = (key, value) => {
        if (value == null) {
            testsDropdownButton.innerText = "Select a key"
        } else {
            currentTestId = key;
            currentTest = tests[key];

            testsDropdownButton.innerText = value;

            testNameDisplay.innerText = currentTest.name;
            testIdDisplay.innerText = currentTest.test_id;
            testQuestionIdDisplay.innerText = currentTest.question_id;
        }
    };
    testsDropdownMenu.addEventListener("click", (e) => {
        if (e.target && e.target.matches('a.dropdown-item')) {
            updateTestValue(e.target.dataset.key, e.target.innerText);
        }
    });

    updateTestValue();

    deleteTestButton.addEventListener("click", (e) => {
        if (currentTestId == null) {
            alert('Please select a test');
            return;
        }
        const confirmDelete = confirm('Are you sure you want to delete this test?');
        if (confirmDelete) {
            const formData = new FormData();
            formData.append('test-id', currentTestId);
            fetch('/admin/tests', {
                method: 'DELETE',
                body: formData
            }).then((res) => {
                if (res.status !== 200) {
                    alert('Unable to delete tests');
                    return;
                }
                window.location.reload();
            }).catch(function(err) {
                console.log('Delete Error :-S', err);
                alert('Unable to delete test');
            });
        }
    });
    </script>
{% endblock %}
